In [1]:
create database empresas
go

use empresas

In [2]:
create table empleados(
    nombre NVARCHAR(20),
    apellido NVARCHAR(30),
    edad integer,
    pais NVARCHAR(30) DEFAULT 'México', 
    primary key (nombre,apellido)
)

In [6]:
insert into empleados values ('Juan','Pérez',15,null)
insert into empleados values ('Otro','Nombre',18,default)

In [7]:
select * from empleados

nombre,apellido,edad,pais
Juan,Pérez,15,NULL
Juan,Pérez,15,NULL
Otro,Nombre,18,México